rails/w6d4/ninety-nine_cats/config/master.key
rails/w7d2/solution/.dockerignore
rails/w7d2/solution/.gitignore
rails/w7d2/solution/config.ru
rails/w7d2/solution/docker-compose.yml
rails/w7d2/solution/Dockerfile
rails/w7d2/solution/entrypoint.sh
rails/w7d2/solution/Gemfile
rails/w7d2/solution/Gemfile.lock
rails/w7d2/solution/package.json
rails/w7d2/solution/Rakefile
rails/w7d2/solution/app/assets/config/manifest.js
rails/w7d2/solution/app/assets/images/.keep
rails/w7d2/solution/app/assets/javascripts/albums.coffee
rails/w7d2/solution/app/assets/javascripts/application.js
rails/w7d2/solution/app/assets/javascripts/bands.coffee
rails/w7d2/solution/app/assets/javascripts/cable.js
rails/w7d2/solution/app/assets/javascripts/notes.coffee
rails/w7d2/solution/app/assets/javascripts/session.coffee
rails/w7d2/solution/app/assets/javascripts/tracks.coffee
rails/w7d2/solution/app/assets/javascripts/users.coffee
rails/w7d2/solution/app/assets/javascripts/channels/.keep
rails/w7d2/solution/app/assets/stylesheets/albums.scss
rails/w7d2/solution/app/assets/stylesheets/application.scss
rails/w7d2/solution/app/assets/stylesheets/bands.scss
rails/w7d2/solution/app/assets/stylesheets/base.scss
rails/w7d2/solution/app/assets/stylesheets/form.scss
rails/w7d2/solution/app/assets/stylesheets/lists.scss
rails/w7d2/solution/app/assets/stylesheets/notes.scss
rails/w7d2/solution/app/assets/stylesheets/reset.scss
rails/w7d2/solution/app/assets/stylesheets/session.scss
rails/w7d2/solution/app/assets/stylesheets/tracks.scss
rails/w7d2/solution/app/assets/stylesheets/users.scss
rails/w7d2/solution/app/channels/application_cable/channel.rb
rails/w7d2/solution/app/channels/application_cable/connection.rb
rails/w7d2/solution/app/controllers/albums_controller.rb
rails/w7d2/solution/app/controllers/application_controller.rb
rails/w7d2/solution/app/controllers/bands_controller.rb
rails/w7d2/solution/app/controllers/notes_controller.rb
rails/w7d2/solution/app/controllers/sessions_controller.rb
rails/w7d2/solution/app/controllers/tracks_controller.rb
rails/w7d2/solution/app/controllers/users_controller.rb
rails/w7d2/solution/app/controllers/concerns/.keep
rails/w7d2/solution/app/helpers/albums_helper.rb
rails/w7d2/solution/app/helpers/application_helper.rb
rails/w7d2/solution/app/helpers/bands_helper.rb
rails/w7d2/solution/app/helpers/notes_helper.rb
rails/w7d2/solution/app/helpers/session_helper.rb
rails/w7d2/solution/app/helpers/tracks_helper.rb
rails/w7d2/solution/app/helpers/users_helper.rb
rails/w7d2/solution/app/jobs/application_job.rb
rails/w7d2/solution/app/mailers/application_mailer.rb
rails/w7d2/solution/app/models/album.rb
rails/w7d2/solution/app/models/application_record.rb
rails/w7d2/solution/app/models/band.rb
rails/w7d2/solution/app/models/note.rb
rails/w7d2/solution/app/models/track.rb
rails/w7d2/solution/app/models/user.rb
rails/w7d2/solution/app/models/concerns/.keep
rails/w7d2/solution/app/views/albums/_form.html.erb
rails/w7d2/solution/app/views/albums/edit.html.erb
rails/w7d2/solution/app/views/albums/new.html.erb
rails/w7d2/solution/app/views/albums/show.html.erb
rails/w7d2/solution/app/views/application_mailer/activation_email.html.erb
rails/w7d2/solution/app/views/application_mailer/activation_email.text.erb
rails/w7d2/solution/app/views/bands/_form.html.erb
rails/w7d2/solution/app/views/bands/edit.html.erb
rails/w7d2/solution/app/views/bands/index.html.erb
rails/w7d2/solution/app/views/bands/new.html.erb
rails/w7d2/solution/app/views/bands/show.html.erb
rails/w7d2/solution/app/views/layouts/application.html.erb
rails/w7d2/solution/app/views/note/_form.html.erb
rails/w7d2/solution/app/views/note/_note.html.erb
rails/w7d2/solution/app/views/sessions/new.html.erb
rails/w7d2/solution/app/views/tracks/_form.html.erb
rails/w7d2/solution/app/views/tracks/edit.html.erb
rails/w7d2/solution/app/views/tracks/new.html.erb
rails/w7d2/solution/app/views/tracks/show.html.erb
rails/w7d2/solution/app/views/users/new.html.erb
rails/w7d2/solution/app/views/users/show.html.erb
rails/w7d2/solution/bin/bundle
rails/w7d2/solution/bin/rails
rails/w7d2/solution/bin/rake
rails/w7d2/solution/bin/setup
rails/w7d2/solution/bin/spring
rails/w7d2/solution/bin/update
rails/w7d2/solution/bin/yarn
rails/w7d2/solution/config/application.rb
rails/w7d2/solution/config/boot.rb
rails/w7d2/solution/config/cable.yml
rails/w7d2/solution/config/credentials.yml.enc
rails/w7d2/solution/config/database.yml
rails/w7d2/solution/config/environment.rb
rails/w7d2/solution/config/puma.rb
rails/w7d2/solution/config/routes.rb
rails/w7d2/solution/config/secrets.yml
rails/w7d2/solution/config/spring.rb
rails/w7d2/solution/config/storage.yml
rails/w7d2/solution/config/environments/development.rb
rails/w7d2/solution/config/environments/production.rb
rails/w7d2/solution/config/environments/test.rb
rails/w7d2/solution/config/initializers/application_controller_renderer.rb
rails/w7d2/solution/config/initializers/assets.rb
rails/w7d2/solution/config/initializers/backtrace_silencers.rb
rails/w7d2/solution/config/initializers/content_security_policy.rb
rails/w7d2/solution/config/initializers/cookies_serializer.rb
rails/w7d2/solution/config/initializers/filter_parameter_logging.rb
rails/w7d2/solution/config/initializers/inflections.rb
rails/w7d2/solution/config/initializers/mime_types.rb
rails/w7d2/solution/config/initializers/new_framework_defaults_5_2.rb
rails/w7d2/solution/config/initializers/wrap_parameters.rb
rails/w7d2/solution/config/locales/en.yml
rails/w7d2/solution/db/schema.rb
rails/w7d2/solution/db/seeds.rb
rails/w7d2/solution/db/migrate/20170711231941_create_albums.rb
rails/w7d2/solution/db/migrate/20170711231956_create_bands.rb
rails/w7d2/solution/db/migrate/20170711232038_create_notes.rb
rails/w7d2/solution/db/migrate/20170711232117_create_tracks.rb
rails/w7d2/solution/db/migrate/20170711232251_create_users.rb
rails/w7d2/solution/lib/assets/.keep
rails/w7d2/solution/lib/tasks/.keep
rails/w7d2/solution/log/.keep
rails/w7d2/solution/public/404.html
rails/w7d2/solution/public/422.html
rails/w7d2/solution/public/500.html
rails/w7d2/solution/public/apple-touch-icon-precomposed.png
rails/w7d2/solution/public/apple-touch-icon.png
rails/w7d2/solution/public/favicon.ico
rails/w7d2/solution/public/robots.txt
rails/w7d2/solution/spec/rails_helper.rb
rails/w7d2/solution/spec/spec_helper.rb
rails/w7d2/solution/spec/controllers/users_controller_spec.rb
rails/w7d2/solution/spec/factories/users.rb
rails/w7d2/solution/spec/features/auth_spec.rb
rails/w7d2/solution/spec/models/user_spec.rb
rails/w7d2/solution/test/application_system_test_case.rb
rails/w7d2/solution/test/test_helper.rb
rails/w7d2/solution/test/controllers/.keep
rails/w7d2/solution/test/fixtures/.keep
rails/w7d2/solution/test/fixtures/albums.yml
rails/w7d2/solution/test/fixtures/bands.yml
rails/w7d2/solution/test/fixtures/notes.yml
rails/w7d2/solution/test/fixtures/tracks.yml
rails/w7d2/solution/test/fixtures/users.yml
rails/w7d2/solution/test/fixtures/files/.keep
rails/w7d2/solution/test/helpers/.keep
rails/w7d2/solution/test/integration/.keep
rails/w7d2/solution/test/mailers/.keep
rails/w7d2/solution/test/models/.keep
rails/w7d2/solution/test/models/album_test.rb
rails/w7d2/solution/test/models/band_test.rb
rails/w7d2/solution/test/models/note_test.rb
rails/w7d2/solution/test/models/track_test.rb
rails/w7d2/solution/test/models/user_test.rb
rails/w7d2/solution/test/system/.keep
rails/w7d2/solution/vendor/.keep
