
# Created by https://www.toptal.com/developers/gitignore/api/rails
# Edit at https://www.toptal.com/developers/gitignore?templates=rails

### Rails ###
*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.*

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep


rails/w6d4/ninety-nine_cats/config/master.key
rails/w7d2/solution/.dockerignore
rails/w7d2/solution/.gitignore
rails/w7d2/solution/config.ru
rails/w7d2/solution/docker-compose.yml
rails/w7d2/solution/Dockerfile
rails/w7d2/solution/entrypoint.sh
rails/w7d2/solution/Gemfile
rails/w7d2/solution/Gemfile.lock
rails/w7d2/solution/package.json
rails/w7d2/solution/Rakefile
rails/w7d2/solution/app/assets/config/manifest.js
rails/w7d2/solution/app/assets/images/.keep
rails/w7d2/solution/app/assets/javascripts/albums.coffee
rails/w7d2/solution/app/assets/javascripts/application.js
rails/w7d2/solution/app/assets/javascripts/bands.coffee
rails/w7d2/solution/app/assets/javascripts/cable.js
rails/w7d2/solution/app/assets/javascripts/notes.coffee
rails/w7d2/solution/app/assets/javascripts/session.coffee
rails/w7d2/solution/app/assets/javascripts/tracks.coffee
rails/w7d2/solution/app/assets/javascripts/users.coffee
rails/w7d2/solution/app/assets/javascripts/channels/.keep
rails/w7d2/solution/app/assets/stylesheets/albums.scss
rails/w7d2/solution/app/assets/stylesheets/application.scss
rails/w7d2/solution/app/assets/stylesheets/bands.scss
rails/w7d2/solution/app/assets/stylesheets/base.scss
rails/w7d2/solution/app/assets/stylesheets/form.scss
rails/w7d2/solution/app/assets/stylesheets/lists.scss
rails/w7d2/solution/app/assets/stylesheets/notes.scss
rails/w7d2/solution/app/assets/stylesheets/reset.scss
rails/w7d2/solution/app/assets/stylesheets/session.scss
rails/w7d2/solution/app/assets/stylesheets/tracks.scss
rails/w7d2/solution/app/assets/stylesheets/users.scss
rails/w7d2/solution/app/channels/application_cable/channel.rb
rails/w7d2/solution/app/channels/application_cable/connection.rb
rails/w7d2/solution/app/controllers/albums_controller.rb
rails/w7d2/solution/app/controllers/application_controller.rb
rails/w7d2/solution/app/controllers/bands_controller.rb
rails/w7d2/solution/app/controllers/notes_controller.rb
rails/w7d2/solution/app/controllers/sessions_controller.rb
rails/w7d2/solution/app/controllers/tracks_controller.rb
rails/w7d2/solution/app/controllers/users_controller.rb
rails/w7d2/solution/app/controllers/concerns/.keep
rails/w7d2/solution/app/helpers/albums_helper.rb
rails/w7d2/solution/app/helpers/application_helper.rb
rails/w7d2/solution/app/helpers/bands_helper.rb
rails/w7d2/solution/app/helpers/notes_helper.rb
rails/w7d2/solution/app/helpers/session_helper.rb
rails/w7d2/solution/app/helpers/tracks_helper.rb
rails/w7d2/solution/app/helpers/users_helper.rb
rails/w7d2/solution/app/jobs/application_job.rb
rails/w7d2/solution/app/mailers/application_mailer.rb
rails/w7d2/solution/app/models/album.rb
rails/w7d2/solution/app/models/application_record.rb
rails/w7d2/solution/app/models/band.rb
rails/w7d2/solution/app/models/note.rb
rails/w7d2/solution/app/models/track.rb
rails/w7d2/solution/app/models/user.rb
rails/w7d2/solution/app/models/concerns/.keep
rails/w7d2/solution/app/views/albums/_form.html.erb
rails/w7d2/solution/app/views/albums/edit.html.erb
rails/w7d2/solution/app/views/albums/new.html.erb
rails/w7d2/solution/app/views/albums/show.html.erb
rails/w7d2/solution/app/views/application_mailer/activation_email.html.erb
rails/w7d2/solution/app/views/application_mailer/activation_email.text.erb
rails/w7d2/solution/app/views/bands/_form.html.erb
rails/w7d2/solution/app/views/bands/edit.html.erb
rails/w7d2/solution/app/views/bands/index.html.erb
rails/w7d2/solution/app/views/bands/new.html.erb
rails/w7d2/solution/app/views/bands/show.html.erb
rails/w7d2/solution/app/views/layouts/application.html.erb
rails/w7d2/solution/app/views/note/_form.html.erb
rails/w7d2/solution/app/views/note/_note.html.erb
rails/w7d2/solution/app/views/sessions/new.html.erb
rails/w7d2/solution/app/views/tracks/_form.html.erb
rails/w7d2/solution/app/views/tracks/edit.html.erb
rails/w7d2/solution/app/views/tracks/new.html.erb
rails/w7d2/solution/app/views/tracks/show.html.erb
rails/w7d2/solution/app/views/users/new.html.erb
rails/w7d2/solution/app/views/users/show.html.erb
rails/w7d2/solution/bin/bundle
rails/w7d2/solution/bin/rails
rails/w7d2/solution/bin/rake
rails/w7d2/solution/bin/setup
rails/w7d2/solution/bin/spring
rails/w7d2/solution/bin/update
rails/w7d2/solution/bin/yarn
rails/w7d2/solution/config/application.rb
rails/w7d2/solution/config/boot.rb
rails/w7d2/solution/config/cable.yml
rails/w7d2/solution/config/credentials.yml.enc
rails/w7d2/solution/config/database.yml
rails/w7d2/solution/config/environment.rb
rails/w7d2/solution/config/puma.rb
rails/w7d2/solution/config/routes.rb
rails/w7d2/solution/config/secrets.yml
rails/w7d2/solution/config/spring.rb
rails/w7d2/solution/config/storage.yml
rails/w7d2/solution/config/environments/development.rb
rails/w7d2/solution/config/environments/production.rb
rails/w7d2/solution/config/environments/test.rb
rails/w7d2/solution/config/initializers/application_controller_renderer.rb
rails/w7d2/solution/config/initializers/assets.rb
rails/w7d2/solution/config/initializers/backtrace_silencers.rb
rails/w7d2/solution/config/initializers/content_security_policy.rb
rails/w7d2/solution/config/initializers/cookies_serializer.rb
rails/w7d2/solution/config/initializers/filter_parameter_logging.rb
rails/w7d2/solution/config/initializers/inflections.rb
rails/w7d2/solution/config/initializers/mime_types.rb
rails/w7d2/solution/config/initializers/new_framework_defaults_5_2.rb
rails/w7d2/solution/config/initializers/wrap_parameters.rb
rails/w7d2/solution/config/locales/en.yml
rails/w7d2/solution/db/schema.rb
rails/w7d2/solution/db/seeds.rb
rails/w7d2/solution/db/migrate/20170711231941_create_albums.rb
rails/w7d2/solution/db/migrate/20170711231956_create_bands.rb
rails/w7d2/solution/db/migrate/20170711232038_create_notes.rb
rails/w7d2/solution/db/migrate/20170711232117_create_tracks.rb
rails/w7d2/solution/db/migrate/20170711232251_create_users.rb
rails/w7d2/solution/lib/assets/.keep
rails/w7d2/solution/lib/tasks/.keep
rails/w7d2/solution/log/.keep
rails/w7d2/solution/public/404.html
rails/w7d2/solution/public/422.html
rails/w7d2/solution/public/500.html
rails/w7d2/solution/public/apple-touch-icon-precomposed.png
rails/w7d2/solution/public/apple-touch-icon.png
rails/w7d2/solution/public/favicon.ico
rails/w7d2/solution/public/robots.txt
rails/w7d2/solution/spec/rails_helper.rb
rails/w7d2/solution/spec/spec_helper.rb
rails/w7d2/solution/spec/controllers/users_controller_spec.rb
rails/w7d2/solution/spec/factories/users.rb
rails/w7d2/solution/spec/features/auth_spec.rb
rails/w7d2/solution/spec/models/user_spec.rb
rails/w7d2/solution/test/application_system_test_case.rb
rails/w7d2/solution/test/test_helper.rb
rails/w7d2/solution/test/controllers/.keep
rails/w7d2/solution/test/fixtures/.keep
rails/w7d2/solution/test/fixtures/albums.yml
rails/w7d2/solution/test/fixtures/bands.yml
rails/w7d2/solution/test/fixtures/notes.yml
rails/w7d2/solution/test/fixtures/tracks.yml
rails/w7d2/solution/test/fixtures/users.yml
rails/w7d2/solution/test/fixtures/files/.keep
rails/w7d2/solution/test/helpers/.keep
rails/w7d2/solution/test/integration/.keep
rails/w7d2/solution/test/mailers/.keep
rails/w7d2/solution/test/models/.keep
rails/w7d2/solution/test/models/album_test.rb
rails/w7d2/solution/test/models/band_test.rb
rails/w7d2/solution/test/models/note_test.rb
rails/w7d2/solution/test/models/track_test.rb
rails/w7d2/solution/test/models/user_test.rb
rails/w7d2/solution/test/system/.keep
rails/w7d2/solution/vendor/.keep
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/-3/-3JfvCdT-LSoFZ_bBkFucvjPwag7G2ubfFb4sazc5Hg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/-A/-AagJ_CoGawxWLmA0d2scHJNqeHjo5SbEwwjxej9vtw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/-h/-hm-C3kea8w5MgPiZeiOBpzxbllXNM18si8ZXzbIrb4.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/04/041O6CSlTm7UWnwUwolg9yoUB4ssuVgRmgVi79xIJ54.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/0a/0aTqdBqPJrTRZsAh7XurU4IQ_GDIIQB3gvM0YhYpMPI.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/1H/1H66XpE-AKP5F-Xvdq6MEf_P7hlINCeNbBt_RHiG6Wg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/3L/3LhAYVAg_DuBeaUr_2lt_Dh7-HvdRes7QJfoTEteq-c.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/3T/3T_YhaYLcEEL9j-m5NkfZdPypjG77CLIGDxodcS1CQ0.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/40/40NO3c0smgmX5dMmztSz5J24gsK4mN0oM1iIOspmM5A.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/4H/4HhkGG0fZjFUqA6hR9c_fbMSlufdJor-Xgo_Qyj_108.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/5m/5m3jP-FsBKpD0Niy5usyicA_zFNieA-f_uS65BTt4OA.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/5v/5vJphIJg5Sw-hi2RASu0LuPb6C8bdLMoytB3pgZqXWk.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/63/63UYu8ddHf927EBHZd2Zt0nLZpU58-tkXnktQtl0Zbk.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/8t/8t6GKvB3mKvxzwENh-h61GIOdUVYO0QPGyDPlBsU2T0.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/9W/9wOVgj7CnVFDIcy_9A8TfhErl_tSvj1kiCdvaPOFF9M.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/A9/A9J7yeJEAkFrx0Mdd0pvY5L1v8IgXF9hK2J7wnsdZYw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/BF/BF40g_kvFvAnnt-0eBm1wyTJ2gfx2OifydLOGV_H79U.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/BR/BRRgL6HfTyMuotelG83tOkHAzalsSptMRuSEdFu78EU.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Bn/BnHQKiBMBaqm9Saj39bFzEwTAEyKLxI175IkZ5BJoC0.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/DU/DUkJBrPYaHTbbAfV6n5eMq79IQKy8Y9Ohm1FcTANeyo.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Db/dB9_EFchEsujZLr3-u-w2NnijXO-8MxmFeVY1XrhkZ8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/ET/ETJcia2I_25w3e6SFPlNhk1CG6-TnU1dFjzKpaF79wk.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Fl/FlN1_dyWh03CYJPCjbJlU3ulIjgGyZephAfotNZrlpE.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Ft/FtbFCl_DDNdNyK5QOKF4sJLyEn0F4eSZ1ialvfuK1zk.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/HT/HTzS1EoqA7t8Wq9F13CA4La6ck7ck1Lm72mCGm2SBCs.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/IW/IWjRV5JtWMY6Ws-KlB2pvzd7q2tbRqUcYsta32P28ys.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/JW/JWa_kD8IlgQAR2cAs-zgPmB0zJ867Z5KYc4UqIXRcOc.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Ja/Jac-c1s5NnRFZ9WmoPgDZnxi0stDiETws6YYP3If01M.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/KK/KKsmwTLXy1LBM5xA6wagpul0hPveI23ZM_qrz64ZFzw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/MB/MBjCfx9_XZOnSBNaDjfmM_42TnsNx5BGhBxgSvM_DWQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/NP/NPy4OnErk3xvJtEZR-wDqWzqgxug49mOTf94hYT2if8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/NZ/NZo2XrK29dqW-OvC2RSjPSrh-yW_rs4KmXtTiK0WEQQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/O5/O5Z77VfH4C1JMy1RVS4Y4mJHRcxLvByAs-QughRW7Dg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/PV/PVxcsxffMfGzpsF6tZyUY6-1HRyLjWqZBOPninKjbKI.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Q2/Q2YdNzivWmwxOGDhpG8z7gzwukCHKKIXkvffNSNIA7k.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/SD/SD--GZjNPR2eZF4Nn3YgztvDkEWthAh18e7vCVzF5Os.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/SW/SWLhnphViU9u-SNdwqtHuwo_3uCqQ9DXpCPlLyopc1g.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Sg/SgMDqmMV0WosGL20MB1JkdgUlPTjvSE_XtkEFIL6HYM.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/St/St8FKskNFABbLRhszIJ-wWibktNO-g2A9Sk0-eCskHw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Td/Tdldo4XvAtdydDZDwK8o6V4XocCCppgpnznsezMheDE.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Tt/TtxIIZT1XCZ2qcC59IaVN5vY7yueHoiVWFEFPhym8lk.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/UU/UUaw6W4M7z_QAE4X9tsLwEHW4qxlznWTaBipN-yLVK0.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Ui/UiuOXBiiiglcqNfZ0rDMDP49cj4Pvh5mKj8OOL5nIcg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/V8/V812GY5M50u-EEK7LZOBoVTOmC-ungWOy98lRFye-JE.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/VE/VEAktCdNLom1T36VtPxFQBApWETfdM6eTMlBdk7Weq4.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/VP/VP9rgGsuIic2jl9YCueDDucnhUTMJIkkifo1J0UMnhQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Vr/VrTLqED_4mu6Li81aysGZXBuwJmGHrHvb7Q99-jUKP8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/WH/WHxOFeP0AQWDfLUSpXv88NpHeZfNta7dEU_PXd4JCf4.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/Wm/WmohByNBb3tU9NiORGmUxsPo4jPvwE2Jnw8dUg61sRY.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/X7/X7wLU6l5Y8HGCNxR9cKJq0taM97bM1axBMaa9BcOCE8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/XC/XCq6Ucu3vWap6vTgwe3_xhZWg2bUE7F9RfY3VX-394c.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/YQ/YQCdVc6bgyS0yGSep0LtZFHqa0R-rx5b1hhiFeZHLmQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/ZT/zTHB2bL0lSrmD3ziwPhIxrTmqCUcGCLV0jJ7h4htQ3Q.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/ZT/ZTJ5WjCotgjX5bbkl-rXwQm0-GccXzlQfwSYyS4p8lQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/_8/_8gWHbbh_rxXFD8cSTTz5yASRKawcThkjNBfq4qO5Zg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/aF/aFqqV7WhJJzyYyUKH8q7ReDhDTEBcQl9vlYqpYeXZ_g.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/aZ/aZo1xPnot95kdwUIGqFust8xvqnQoa0aYRhO9Sn2aMQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/ab/ab41Y6uma4rpT_0_Kl8XhfEE6XY2uT1diGrqRs-4Pzs.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/bG/bGiXKbgbh1gTtnhMMhgDeiCe9n4DlPRyHgEDTGOdAMU.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/c1/c1KzzG5AVFBdwDx_AcBzM6ePVhNV-QXLaolKcmg09FU.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/c2/c2d3tj2ZZ1v664iZUu-_FQ8w32FGpINwFX7UilbYs0M.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/cE/cEA5YgencRlNjeu-i7xK00pybGeymsijiYLz-iY4vGg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/cX/cX9Hw51ueLH-snhxnLUqG0Q4TqtdPQfXMi88C5XnRtI.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/fC/fC7qV9Y5kSbaI9kj7DzocyhU4-kTi7asi0Ny-N15iz8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/fC/fCqe-8UyR4cO002i379hxF2tL7hu0QzPh9PpJodVGqM.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/fQ/fQkolwpWhzmWQC18TAaeKKcbQdJTr8kLvZHgyvrZ8io.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/fQ/fQZzkiYmqdvIFN5ZRfEz_O8pMDmY0G_5etdIv_HeMwg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/jB/jBfVm4bXCfs6G4K1zTuNujcrZUrivSA_OkyZPT-w8xc.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/jV/jV52GeBEtHvXTnl_3jk21uA3WWTFFwA6_p3rWtL6GMs.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/kC/kCw9vEOT90KA8GZjnIOYPjAzrQNZaUWUwmS_KOpGBo4.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/kM/kMQ30lj7L_qsyW5pv52AkeTNzA700uzK4ziUeVE4wH0.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/kU/kUGxMWz-Bz2YxheLmFvuhLXZk5FepsYpYNEjKesD63o.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/lb/lbuAMjRf-mDYDcEwCF0d-yXPyFN1j1n6i6tNbliUgOI.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/lo/lo17R3G1p6tyBbEWNQbWV7E0w42BBfnNByp6RLzJ_z8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/mL/mL-OpP_l9QSn41q08tKKyWl-hxNBYleo8VyMMipaFUs.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/m_/m_F5jRdnXgPOr7-xoL1bB0nBu_OtlIxMLV6csUkH4Dw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/mp/mp1K34m5m0167xWFEqDy_AxIcMWAdIMOClBUz8H50P4.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/mx/mx2LOpuAnAvlatOooM1rDnN4dqXAylra_5bQOmPX0K8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/oR/oRMgoDuuqn3kkTYMlCmUN4ojPTcQwB5S4vpJ6BXKrjM.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/pL/pLDycgp1XJBt7PSKbGFdvL85IPxPt1Ctlqld6ChCzpQ.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/pR/pRaRo1g5gyE4Eg7ompxIoyQPPIhHi4qtyOIsp-_0Phg.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/pd/pdL63Pmzd9EUhpi5VKgo1F5Hst30ECVV10XJJg_q7Bo.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/po/pookxUwCNNXQKd458Ux8Ie4dAYiNto4mEa35IYl-emY.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/rg/rgKxJoGfUQwPZhb3ZGp5SrJu6OQHX7BIOFQ1iUKcYw8.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/sL/sLC8u7NBNAuSjYwmBivWLBt5HDRVazk9EI6iDw9xoUw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/sz/sz2zJYtYIbhLXRn0BKbgYBU5cQAK7V-EjG7ES-NRgJw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/tL/tLqmi0LvUiMFCuQNbSWxtjTlPqsUkNvGnVi2vcdZzdI.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/x6/x6phKi8RqR3OqFBLvrijVATWgWkoX98heYfHVU35peI.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/xB/xBwWwyHgNhwHyQmryAlEfg7fUQxRKBX4Lh1yiV_UawA.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/yl/yl8WjeEJ5eA2hRt33kfndH4-Qc4KtSlYj4hLEgw6bPw.cache
rails/widget_challenge_app/tmp/cache/assets/sprockets/v3.0/z-/z-aWEJJsLLDX_ZfyRmVh3-vsqSW6bA0gEoSQQaizZXY.cache
javascript/solution 2/src/clock.js
javascript/solution 2/src/drop_down.js
javascript/solution 2/src/index.js
javascript/solution 2/src/search.js
javascript/solution 2/src/slide_scroll.js
javascript/solution 2/src/todo_list.js
javascript/solution 2/src/warmup.js
javascript/solution 2/src/weather.js
javascript/skeleton/src/clock.js
javascript/skeleton/src/drop_down.js
javascript/skeleton/src/index.js
javascript/skeleton/src/search.js
javascript/skeleton/src/slide_scroll.js
javascript/skeleton/src/todo_list.js
javascript/skeleton/src/warmup.js
javascript/skeleton/src/weather.js
