<h2>Create a User</h2>

<%= link_to 'Log In to existing account', new_session_url %>

<form action="<%= users_url %>" method="POST">
  <input 
    type="hidden" 
    name="authenticity_token" 
    value=<%= form_authenticity_token %>
  >
  <p>
    <label for="existing-user-email">Email</label>
    <input type="text" name="user[email]" id="existing-user-email" >
  </p>
  <p>
    <label for="existing-user-password">Password</label>
    <input type="password" name="user[password]" id= "existing-user-password">
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>